*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.intro {
    justify-items: center;
    padding-top: 65px;
    padding-bottom: 35px;
}
.intro p{
    padding-top: 10px;
}
.intro a{
    color: rgb(172, 206, 248);   
    text-decoration: none; 
}
.intro a:hover{
    color: rgb(60, 60, 206);
}
.form{
    justify-items: center;
}
input{
    width: 250px;
    border:none;
    border-bottom: 1px solid black;
    outline: none;
}
.form .button{
    background-color: rgb(172, 206, 248);
    font-size: 15px;
    color: white;
    border: none;
    padding: 10px 100px;
    margin-top: 20px;
}
.button:hover{
    color: rgb(60, 60, 206);
}
hr{
    color: black;
    width: 65px;
    margin: 10px;
}
p{
    margin-left: 2px;
    margin-right: 2px;
}
.alt-msignup{
    align-items: center;
    justify-self: center;
    display: flex;
    padding: 15px 0;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.soc img{
    width: 45px;
    padding: 5px;
}
.soc .fb{
    width: 40px;
}

/*@media screen and (max-width: 375px;) {
    .container{
        height: fit-content;
    }
    input{
    width: 250px;
}
.form .button{
    background-color: rgb(172, 206, 248);
    font-size: 15px;
    color: white;
    border: none;
    padding: 10px 100px;
    margin-top: 20px;
}
.button:hover{
    color: blue;
}
hr{
    width: 65px;
    margin: 10px;
}
p{
    margin-left: 2px;
    margin-right: 2px;
}
.alt-msignup{
    align-items: center;
    justify-self: center;
    display: flex;
    padding: 15px 0;
}
}